<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="author" v-bind:content="author">
        <meta name="publish_date" content="4167BC">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="vuestuff.js"></script>
        <script src="other.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="w3styling.css">
        <link rel="stylesheet" href="otherstyle.css">
    </head>
    <body id="body">
        <title>{{ newspaper_name + " Homepage" }}</title>

        <!-- When loading -->
        <div id="cover_elem">Please wait until all content has been fully loaded</div>

        <div id="top">
            <h1 id="bigtitle"><a id="homepage_link" v-bind:href="homepage_src">{{ newspaper_name }}</a></h1><br><br>
            <!-- And then insert topbar-->
            <div id="topnav">
                <a v-for="elem in topbar" v-bind:href="elem.link"> {{ elem.name }} </a>
            </div>
        </div>
        <hr>

        <div id="main_content">
            <!-- I guess i have to manually place them in after using vue automation-->
            <div class="hp_article_box" v-for="article in articles">
                <span class="homepage_padbox"></span>
                <span class="homepage_article" @click="redirect(article.src)">
                    <b>{{ article.title }}</b><br>
                    <a> By {{ article.author }}</a><br>
                    <img v-bind:src="article.images[0].imgsrc" alt="Image not available"><br>
                    <span>{{ article.summary }}</span>
                </span>
            </div>
        </div>
        <hr>

        <div id="very_bottom">
            <br><br><br>
            <p id="bottomtext">Open source project by <a id="credits" href="#">{{ author }}</a> (2025)</p>
         </div>
    </body>
</html>