/*Main big things*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#cover_elem {
    height:100%;
    width:100%;
    padding:1px;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

/*Titles*/

#bigtitle {
    font-size: 80px;
    text-decoration-line: none;
}

#articletitle, #details, #bigtitle, #bottomtext {
    text-align: center;
}

#articletitle {
    font-size: 50px;
}

/*Content boxes*/

.redir_box, .homepage_article {
    border: 3.5px solid black;
    display: inline-block;
    cursor: pointer;
}

.redir_box {
    padding: 5px;
    border-radius: 5px;
}

.homepage_article {
    padding: 10px;
    border-radius: 10px;
}

/*Padding boxes*/

#bottom_leftbox {
    width: 20px;
    height: 1px;
    padding: 20px;
}

.homepage_padbox {
    height: 20px;
    width: 20px;
    padding: 20px;
}

/*Topbar*/

#topnav {
    overflow: hidden;
    padding: 40px;
}

#topnav a {
    text-decoration-line: none;
    padding: 15px;
}

/*
#topnav a:hover {}
#topnav a.active {}
*/

@media screen and (max-width: 600px) {
    #topnav a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Other*/
#credits, #homepage_link {
    text-decoration-line: none;
}